* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

button {
  cursor: pointer;
  background-color: rgb(29, 163, 207);
  color: white;
  border-radius: 5%;
  border: none;
  z-index: 1;
  position: relative;
  font-size: 2rem;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: #0c0c0c;
  color: white;
}

.page-wrapper {
  padding: 1rem 1rem;
  height: 100%;
}

.benefits-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 5rem;
}

.benefits-container > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.text-container {
  position: relative;
  z-index: 1;
  width: 400px;
  color: white;
  word-wrap: break-word;
}

.text-container h1 {
  font-size: 20px;
}

.text-container h2 {
  font-weight: lighter;
  font-size: 100px;
  margin-top: 10px;
}

.text-container p {
  font-size: 30px;
  margin-top: 20px;
}

.header {
  color: azure;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  top: 50px;
  left: 50%;
  position: fixed;
  z-index: 1;
  transform: translate(-50%);
}

.ball {
  color: black;
  text-decoration: none;
  padding-top: 2.5rem;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  background: rgba(44, 74, 207, 0.795);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  transition-duration: 0.4s;
  overflow: hidden;
}

.ball:hover {
  background-color: #0c0c0c;
  color: white;
}
