* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.transparent-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

.transparent-button:hover {
  font-weight: bold;
  border: 3px solid white;
}
.box {
  background-size: cover;
  background-position: center;
  background-image: url(./shanghai-city-5083x3389-16563.jpg);
  min-width: 50rem;
  min-height: 30rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  padding-top: 5rem;
  object-fit: cover;
}

.white-text {
  color: white;
}

.title-size {
  font-size: 30px;
  letter-spacing: 5px;
  word-spacing: 7px;
}

.text {
  text-align: center;
}

.main-box {
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
}

.bg-image {
  padding-top: 10rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background-image: url(./shanghai-city-5083x3389-16563.jpg);
  min-width: 50rem;
  min-height: 30rem;
}

.text-color {
  color: black;
}

.child {
  padding-top: 3rem;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid white;
  border-radius: 1%;
}

h1 {
  font-size: 50px;
}
