* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-size: calc(0.7rem + 0.5vw);
}

body {
  font-size: 1em;
}

.img-background,
.bg-wrapper,
section {
  width: 100%;
}

main {
  height: 100vh;
  min-height: 400px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/624b3c6de8311d5139f663a3/1649097845101-CLE34J9KWWSKAFRAWTHS/pickle-perfection-v1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
}

section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

footer {
  background-color: #bb6558;
  color: white;
  display: flex;
  align-items: center;
  padding: 3rem 3rem;
}

footer .contacts ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .contacts ul li {
  font-weight: 200;
}

footer .contacts h4 {
  font-weight: 400;
}

section div h1 {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

section div p {
  display: flex;
  justify-content: center;
  font-weight: 200;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  font-size: 1rem;
}

header div ul {
  list-style: none;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-size: 1rem;
}

header div ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 0.5px;
}

header nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 0.5px;
}

div strong {
  display: flex;
  justify-content: center;
  font-size: calc(1.5rem + 1vw);
  padding-bottom: 0.8rem;
  color: white;
  font-weight: 700;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 3vw;
}

.logo {
  display: flex;
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: 5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.img-wrapper {
  padding-left: 2.5rem;
}

.heading-title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  scale: 1.2;
}

.first-btn {
  border: none;
  width: 15%;
  min-width: 150px;
  max-width: 200px;
  min-height: 60px;
  max-height: 100px;
  color: rgb(236, 147, 147);
  font-size: 1.1rem;
  padding: 0rem 2rem;
  align-items: center;
  scale: 0.8;
  font-weight: 400;
}

.first-btn:hover {
  opacity: 0.8;
}

.burger-btn-wrapper {
  width: 2rem;
  display: none;
}

.burger-btn-wrapper img {
  width: 100%;
}

.product-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: auto;
}

.product-wrapper img {
  width: calc(20% + 10vw); /* Responsive width based on viewport width */
  max-width: 500px;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 2rem;
  object-fit: contain;
}

.section-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
  padding-top: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  scale: 1;
}

.section-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 0;
}

.second-btn {
  border: none;
  background-color: #bb6558;
  min-width: 200px;
  max-width: 200px;
  min-height: 80px;
  max-height: 150px;
  color: white;
  font-size: 1.2rem;
  scale: 0.8;
  align-self: center;
}

.second-btn:hover {
  transition-delay: 0.1s;
  transition: 0.2s;
  opacity: 0.9;
}

.bg-wrapper {
  width: 100%;
  height: 100vh;
}

.bg-wrapper img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.img-background {
  width: 100%;
  height: 95vh;
  min-height: 500px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/624b3c6de8311d5139f663a3/1649097845105-3FQCWXUH11567IYXZRG5/pink-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 3rem;
  position: relative;
}

.padding {
  padding-bottom: 4rem;
}

.first {
  cursor: pointer;
}
.second {
  cursor: pointer;
}
.third {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .burger-btn-wrapper {
    display: block;
  }

  header nav ul {
    display: none;
  }

  .login {
    display: none;
  }

  .product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
  }

  .product-wrapper img {
    width: 450px;
    max-width: 450px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    object-fit: contain;
  }

  section div p {
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .section-img {
    grid-template-columns: repeat(2, 1fr);
  }
}
